.navbar {
    padding-left: 40px;
    background-color: #563d7c;
}

.navbar-brand {
    font-weight: 500;
    letter-spacing: 0.7px;
    margin-right: 2rem;
}

.main-page {
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    margin-top: 1%;
}

.title {
    font-family: Helvetica;
}

.title::before {
    content: ">";
    float: left;
    font-size: 34px;
    margin-right: 10px;
}

.date {
    text-align: right;
    margin-top: 10px;
    margin-bottom: unset;
}
.carousel {
    width: 800px;
    max-height: 400px;
    overflow: hidden;
    display: block;  
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 10px black;
    border-radius: 10px;

    margin-top: 1%;
    margin-bottom: 1%;
}
.slider.slider-horizontal .slider-track {
    width: 80px;
    height: 40px;
}
.blog-title {
    text-align: center;
}
.yer-isimleri{
    margin-left: 40px;
}
h1 {
    text-shadow: 1px 1px 1px blue; /* yatay gölge,dikey gölge,renk ve dağılım */
  }
.yazi{
    margin-left: 20px;
    margin-right: 20px;
} 
.col-30{
    width: 30%;
    display: inline-block;
    text-align: center;
}
.col-25{
    width: 25%;
    display: inline-block;
    text-align: left;
   
}
.col-60{
    width: 60%;
    display: inline-block;
    text-align: center;
}
